$pryColor: #4b5320;

.header {
  padding: 20px 0;
  position: static;
  // background-color: yellow;
  .container {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    // background-color: blue;
    img {
      width: 200px;
    }
    .ul {
      list-style: none;
      display: flex;
      // background-color: red;
      width: 100% !important;
      li {
        margin-right: 10px;
        a {
          background-color: #fff;
          padding: 0.5rem 0.5rem;
          text-decoration: none;
          color: $pryColor;
          transition: 0.3s;
          // width: 300px;
          &:hover {
            background-color: $pryColor;
            color: #fff;
          }
        }
      }
    }
  }
}
// @media screen and (max-width: 700px) {
//   .header {
//     .container {
//       flex-direction: column;
//       img {
//         margin-bottom: 30px;
//       }
//     }
//   }
// }

.main {
  background-color: $pryColor;
  min-height: 100vh;
  color: white;
  padding: 80px 0;
  .title {
    padding: 10px 0;
    h1 {
      font-size: 24px;
    }
    p {
      margin: 20px 0;
    }
  } //title
  .formArea {
    .content {
      padding: 20px 10px;
      display: flex;
      justify-content: center;
      .form {
        width: 400px;
        max-width: 90vw;
        background-color: #f8f8f8;
        padding: 40px 20px;
        box-shadow: 0 0.4px 50px rgba($color: #000, $alpha: 0.1);
        .download {
          color: #000;
          margin-top: 40px !important;
          a {
            background-color: #4b5320;
            height: 40px;
            width: 190px;
          }
        }
        .item {
          height: 40px;
          display: flex;
          border-radius: 12px;
          margin-bottom: 20px;
          border-radius: 1px solid $pryColor;
          i {
            width: 40px;
            background-color: #ddd;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $pryColor;
          } //
          input {
            border: none;
            outline: none;
            padding: 0 10px;
            flex: 1;
          }
          input[type="submit"] {
            background: $pryColor;
            color: white;
            &:hover {
              background: lighten($color: $pryColor, $amount: 10);
            }
          }
        } //item
      }
    }
  }
}

////admin
.admin {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  .header {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        background-color: $pryColor;
        color: white;
        height: 40px;
        width: 100px;
        border: none;
        outline: none;
      }
    }
  }
  .downloadArea {
    background-color: #4b5320;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .requestBtn,
    button {
      background-color: white;
      width: 300px;
      max-width: 90vw;
      margin: 0 auto;
      height: 40px;
      border: none;
      color: #4b5320;
      font-size: 16px;
      margin-top: 30px;
    }
    .downloadBtn {
      background-color: white;
      width: 300px;
      max-width: 90vw;
      margin: 0 auto;
      height: 40px;
      border: none;
      color: #4b5320;
      font-size: 16px;
      margin-top: 30px;
    }
    select {
      background-color: white;
      width: 300px;
      max-width: 90vw;
      margin: 0 auto;
      height: 40px;
      border: none;
      color: #4b5320;
      font-size: 16px;
      margin-top: 30px;
      padding: 0 10px;
    }
  }
}

@media screen and (max-width: 990px) {
  .header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    .container {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      img {
        margin-bottom: 10px;
      }
      .ul {
       display: none;
        // min-height: 100vh;
        li {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
  .main{
    padding-top: 120px !important;
  }
}